/* From Uiverse.io by vinodjangid07 */ 
.button {
    width: fit-content;
    height: fit-content;
    padding: 0.6rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    background-color: #ff5e3a;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 0 8px 15px rgba(255, 94, 58, 0.3);
    padding-left: 12px;
    transition-duration: .5s;
}
  
.svgIcon {
    height: 25px;
    transition-duration: 1.2s;
}
  
.bell path {
    fill: #fff;
}
  
.button:hover {
    background-color: #FF4820;
    transform: translateY(-3px);
    box-shadow: 0 12px 20px rgba(255, 72, 32, 0.4);
    transition-duration: .5s;
}
  
.button:active {
    transform: scale(0.95);
    transition-duration: .2s;
    box-shadow: 0 5px 10px rgba(255, 72, 32, 0.4);
}
  
.button:hover .svgIcon {
    transform: rotate(360deg);
    transition-duration: 1.2s;
}

