.discover-container {
  padding: 20px;
  margin: 10rem auto;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1em;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  padding: 15px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
